cx_Freeze==7.2.0
cx_Logging==3.2.0
lief==0.14.1
openrgb-python @ git+https://github.com/jath03/openrgb-python@43c8bda6f9ff1ea76eed55e5647bdcd44d653289
psutil==6.0.0
pynput==1.7.7
PyQt6==6.7.1
PyQt6-Qt6==6.7.2
PyQt6_sip==13.8.0
setuptools==70.3.0
six==1.16.0
wheel==0.43.0
